<!DOCTYPE html>
<html class="h-full bg-white">
  <head>
    <title>InstaDope</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application",
    "data-turbo-track": "reload",
    type: "module" %>
  </head>

  <body class="h-full">
    <div>
      <% if user_signed_in? %>
        <%= render "sidebar/sidebar" %>
      <% end %>
      <div class="<%= 'lg:pl-72' if user_signed_in? %>">
        <div
          class="
            sticky top-0 z-40 flex h-16 shrink-0 items-center gap-x-4 border-b
            border-gray-200 bg-white px-4 shadow-sm sm:gap-x-6 sm:px-6 lg:px-8
          "
        >
          <%= render "sidebar/mobile_button" %>
          <!-- Separator -->
          <div class="h-6 w-px bg-gray-900/10 lg:hidden" aria-hidden="true"></div>

          <div class="flex flex-1 gap-x-4 self-stretch lg:gap-x-6">
            <div class="relative flex flex-1"></div>
            <div class="flex items-center gap-x-4 lg:gap-x-6">
              <!-- Profile dropdown -->
              <% if user_signed_in? %>
                <%= render "devise/shared/user_menu" %>
              <% else %>
                <%= link_to "Sign In",
                new_user_session_path,
                class: "rounded px-2 py-1 text-gray-700 hover:text-gray-900 hover:bg-gray-200" %>
                <%= link_to "Sign Up",
                new_user_registration_path,
                class: "rounded px-2 py-1 text-gray-700 hover:text-gray-900 hover:bg-gray-200" %>
              <% end %>
            </div>
          </div>
        </div>

        <main class="py-10">
          <div class="px-4 sm:px-6 lg:px-8">
            <!-- Your content -->
            <div id="flash-container" class="mb-5">
              <% flash.each do |key, value| %>
                <%= render "shared/flash", level: key, content: value %>
              <% end %>
            </div>

            <%= yield %>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
